@import "../../../variables.scss";

.bankYear {
  padding: 25px 0;
  .content {
    background-color: $dew;
    border-radius: 30px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 500px;
      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: calc((30 / 24) * 100%);
        margin: 0 0 10px 0;
      }
      p {
        margin: 0 0 20px 0;
        line-height: calc((20 / 14) * 100%);
      }
    }
    .image {
      position: relative;
      bottom: -20px;
      right: 0;
      width: 480px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
  @media (max-width: 1020px) {
    .content {
      padding: 40px 30px;
      justify-content: center;
      .info {
        max-width: 650px;
        align-items: center;
        text-align: center;
      }
      .image {
        display: none;
      }
    }
  }
  @media (max-width: 480px) {
    padding: 15px 0;
    .content {
      padding: 30px;
    }
  }
}