.stock {
  background: linear-gradient(91.94deg, #CBE1EC 2.63%, #F6F9DA 79.43%);
  position: relative;
  overflow: hidden;
  height: 0;
  animation: expand 2s 1s forwards;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    column-gap: 10px;
    row-gap: 20px;
    h4 {
      max-width: 320px;
      font-size: 16px;
      font-weight: 700;
    }
    .timer {
      display: flex;
      align-items: center;
      row-gap: 12px;
      span {
        font-weight: 600;
        padding: 0 8px;
        &.colon {
          font-size: 18px;
          font-weight: 700;
          user-select: none;
        }
      }
      .body {
        display: flex;
        align-items: center;
        margin-left: 10px;
        .cells {
          display: flex;
          align-items: center;
          column-gap: 8px;
          .cell {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            font-weight: 700;
            background-color: #fff;
            border-radius: 10px;
            user-select: none;
          }
        }
      }
    }
    .btnStock {
      width: 120px;
      height: 40px;
      padding: 0 10px;
      line-height: 40px;
      background-color: #fff;
      text-align: center;
      border-radius: 10px;
      font-size: 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out 0s;
      user-select: none;
      &:hover {
        background-color: #FBFBFB;
        box-shadow: 0px 2px 10px 0px #9696961A;
      }
      &:active {
        background-color: #F0F0F0;
      }
    }
    .close {
      cursor: pointer;
    }
  }
  @media (max-width: 1160px) {
    .content {
      flex-direction: column;
      text-align: center;
    }
    .timer {
      flex-direction: column;
      .body {
        margin: 0 !important;
      }
    }
    .close {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
  @media (max-width: 600px) {
    .content {
      align-items: start;
      text-align: start;
      .timer {
        align-items: start;
        row-gap: 10px;
        span {
          padding: 0;
          &:not(:first-child) {
            padding: 0 8px;
          }
        }
        .body {
          .cells {
            column-gap: 3px;
            .cell {
              display: inline;
              background: none;
              width: auto;
              height: auto;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 480px) {
    .content {
      padding: 20px 0;
      h4 {
        margin-right: 50px;
      }
      .close {
        top: 10px;
        right: 10px;
      }
    }
  }
}

@keyframes expand {
  0% {
    height: 0;
  }
  50% {
    height: 102px;
  }
  100% {
    height: auto;
  }
}