@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import "variables.scss";

/*Обнуление*/
* {padding: 0;margin: 0;border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%;width: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: inherit;}
/*--------------------*/

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $mine-shaft;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Цвет полосы прокрутки */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
/* Цвет ползунка */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cfcfcf;
}
/* Цвет ползунка при наведении */
::-webkit-scrollbar-thumb:hover {
  background-color: #b6b6b6;
}
/* Цвет ползунка при активации */
::-webkit-scrollbar-thumb:active {
  background-color: #8c8c8c;
}
/* Цвет трека */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
/* Цвет трека при наведении */
::-webkit-scrollbar-track:hover {
  background-color: #ebebeb;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}
.page {
  flex: 1;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
.icon-menu {
  display: none;
}
.btn {
  display: inline-block;
  width: 180px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  text-align: center;
  background-color: $coral;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
  &:hover {
    background-color: #FF7F50;
  }
  &:active {
    background-color: #F1602A;
  }
}


@media (max-width: 992px) {
  .icon-menu {
    display: block;
  }
}

.form {
  box-shadow: 0px 4px 17px 0px #00000026;
  border-radius: 30px;
  padding: 30px;
  .formContainer {
    max-width: 500px;
    margin: 0 auto;
  }
  .formContent {
    display: flex;
    flex-direction: column;
  }
  .image {
    width: 300px;
    margin: 0 0 30px 0;
    border-radius: 20px;
    box-shadow: 0px 4px 18px 0px #00000080;
    img {
      max-width: 100%;
    }
  }
  .top {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 0 0 40px 0;
  }
  input {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    width: 100%;
    border: 1px solid #E7E8EA;
    border-radius: 10px;
  }
  .row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    p {
      font-size: 12px;
      span {
        color: #61AFFE;
      }
    }
  }
  @media (max-width: 480px) {
    padding: 30px 10px;
    .formContainer {
      max-width: 100%;
    }
    form {
      width: 100%;
    }
    .top {
      margin: 0 0 30px 0;
    }
    .row {
      flex-direction: column;
    }
    .bottom {
      flex-direction: column;
      p {
        order: 2;
      }
      .formBtn {
        order: 1;
        width: 100%;
      }
    }
  }
}
.termItem {
  display: inline-block;
  background-color: #F4F6FA;
  border-radius: 15px;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  cursor: pointer;
  user-select: none;
}
.deposits {
  p {
    line-height: 130%;
  }
}
.cards {
  margin: 0 auto;
  max-width: 1020px;
  padding: 50px 10px;
  h3 {
    margin: 0 0 30px 0;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
  }
  .items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    .item {
      color: inherit;
      width: 100%;
      border-radius: 30px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      &:nth-child(1) {
        background-color: $rum-swizzle;
      }
      &:nth-child(2) {
        background-color: $polar;
      }
      .info {
        max-width: 230px;
        h4 {
          font-size: 25px;
          font-weight: 700;
          margin: 0 0 15px 0;
          line-height: 130%;
        }
        p {
          font-size: 14px;
          line-height: 130%;
          margin: 0 0 15px 0;
        }
      }
      .image {
        width: 200px;
        overflow: hidden;
        img {
          max-width: 100%;
        }
      }
    }
  }
  @media (max-width: 992px) {
    .items {
      flex-direction: column;
    }
  }
  @media (max-width: 480px) {
    .items {
      align-items: center;
      .item {
        flex-direction: column;
        width: 80%;
        .info {
          order: 2;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          max-width: 100%;
          h4 {
            font-size: 22px;
          }
        }
        .image {
          order: 1;
        }
      }
    }
  }
}

.pie {
  position: absolute;
  top: -50px;
  right: -80px;
  max-width: 200px;
  margin: 0 auto 50px auto;
}